:root {
  --primary-yellow: #ffba03;
  --primary-black: #191d1f;
  --primary-dark-gray: #191d1f;
  --secondary-light-yellow: #fdd881;
  --secondary-gray: #bab8b8;
  --secondary-light-gray: #f3f3f2;
  --accent-teal: #1cbaa6;
  --accent-red: #d92336;
  --accent-green: #7e9c3d;
  --space-120: 7.50rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--secondary-light-gray);
  color: var(--primary-black);
}

header {
  background-color: var(--primary-black);
  padding: 1rem var(--space-120);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 40px;
}

.login-icon,
.menu-toggle {
  cursor: pointer;
  color: var(--primary-yellow);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-icon {
  margin-right: 1rem;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: var(--primary-black);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1000;
  padding-top: 60px;
}

.sidebar.open {
  right: 0;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--primary-black);
  font-size: 1.5rem;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-yellow);
  border-radius: 50%;
}

.main-nav {
  list-style-type: none;
  padding: 2rem;
}

.main-nav li {
  margin-bottom: 1rem;
}

.main-nav a {
  text-decoration: none;
  color: var(--secondary-light-gray);
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.main-nav a:hover {
  color: var(--primary-yellow);
}

@media (max-width: 480px) {
  .sidebar {
    width: 100%;
    right: -100%;
  }
}